body {
  background: rgb(17,17,17) !important;  
background: linear-gradient(141deg, rgba(17,17,17,1) 0%, rgba(51,51,51,1) 100%) !important;
}
.title {
  font-family: 'Creepster', cursive !important;
  color: #e6620a !important;
}

.header {
  font-family: 'Creepster', cursive !important;
  color: #e6620a !important;
}

.orange {
  color: #e6620a !important;
}

.reveal h1 {
  font-size: 3em;
}

.reveal blockquote {
  width: 100%;
}

.code-example{
  font-size: 0.7em;
}

.code-example span {
  font-size: 0.7em;
  background-color: #ffffff36;
}